@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .site-container{
        @apply max-w-3xl mx-auto px-4
    }
    .site-4xl-container{
        @apply max-w-4xl mx-auto
    }
}
html{
   @apply bg-white
}

.text-laci{
    color: #003366;
}
.text-tur{
    color: #FF8C00;
}
.text-yes{
    color: #004B28;
}
.text-sari{
    color: #FFD700;
}
.text-gri{
    color: #CCCCCC;
}
