@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .site-container{
        @apply max-w-3xl mx-auto px-4
    }
    .site-4xl-container{
        @apply max-w-4xl mx-auto
    }
}
html{
   @apply bg-stone-900
}

.inter-thin {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.inter-extralight {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.inter-light {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-medium {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter-semibold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-bold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-extrabold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.inter-black {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
